.characterForm {
  margin-top:2rem;
  margin-bottom: 2rem;
  max-width: 800px;
}

.formButtons {
  text-align: right;
}

.formButtons button {
  margin-left: 1rem;
}

.form-control {
  border-color: #b9c2ca;
}

.form-select {
  border-color: #b9c2ca;
}

hr {
  opacity: .30;
}