.app {
  flex: 1 0 auto;
  padding: 10px;
}

.btn-primary {
  --bs-btn-color: #212529;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #f2f1f1;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #b9b9b9;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #81858a;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #81858a;
}

a {
  color: #212529;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

a:hover {
  color: #71767c;
}
